@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #DCB4C1;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #BBEDED;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #B4A6F5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #DDF2CE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #EEEEAE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
