@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Chalkduster, fantasy, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #90B097;
}

a:link {
     color: #56948F;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}


.homePage {
	background: #DCB4C1;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #BBEDED;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #B4A6F5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #DDF2CE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #EEEEAE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
